*.jar
*.class
implementations/ember/base/app/
implementations/go/base/app/
/implementations/java/org.hl7.fhir.convertors/bin/
/implementations/java/org.hl7.fhir.convertors/src/org/hl7/fhir/convertors/VersionConvertor.javat
/implementations/java/org.hl7.fhir.dstu2/bin/
/implementations/java/org.hl7.fhir.dstu3/
/implementations/java/org.hl7.fhir.instance/
/implementations/java/org.hl7.fhir.utilities/bin/
/implementations/javascript/app/models/
/implementations/javascript/app/controllers/
/publish/
/qa/**/*.html
/schema/
/source/spelling/add.txt
/temp/
/tools/java/org.hl7.fhir.instance/
